.course-info {
    padding: 20px;
  }
  
  .course-info-details {
    margin-top: 20px;
  }
  
  .course-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 16px;
  }
  
  .course-info button:hover {
    background-color: #0056b3;
  }
  