.course-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.course-card h2 {
  margin-top: 0;
}

.course-info {
  margin-top: 16px;
}

.course-info p {
  margin: 4px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 16px;
}

button:hover {
  background-color: #0056b3;
}
