.empty-course-list {
    text-align: center;
    padding: 20px;
  }
  
  .empty-course-list button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 16px;
  }
  
  .empty-course-list button:hover {
    background-color: #0056b3;
  }
  